.add-task {
    width: 100%;
    text-align: center;
    /* border: 2px solid black; */
    border-radius: 10px;
    margin: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .input-area {
    /* height: 50px; */
    display: flex;
    align-items: center;
  }
  
  .input-area > input {
    height: 50px;
    /* width: 600px; */
    flex: 0.8;
    margin: 30px;
    font-size: 25px;
    padding-left: 10px;
  }
  
  .input-area > button {
    height: 50px;
    /* width: 600px; */
    flex: 0.2;
    font-size: 15px;
    margin: 30px;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background-color:  #5CB85C;
    color: white;
    cursor: pointer;
  }


  @media only screen and (max-width : 400px) {
    .input-area > input {
      height: 25px;
      /* margin: 15px; */
      font-size: 12px;
      /* padding-left: 5px; */
    }

    .input-area > button {
      height: 35px;
      width: 100px;
      font-size: 13px;
    }
  }