.App {
  display: flex;
  width:auto;
  justify-content: center;
}

.side-area {
  flex: 0.3;
  /* background-color: blue; */
}

.main-area {
  flex : 0.7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


